body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
}

.novoPost {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 10fr 1fr;
    height: 50%;
    padding: 10px;
}

.mostraposts {
    display: flex;
    flex-direction: column;
}