* {
    border: 0px solid black;
    margin: 0;
    padding: 0;
}

.fazul {
    background-color: blue;
}

.famarelo {
    background-color: yellow;
}

.fpreto {
    background-color: black;
    color: white;
}

.fbranco {
    background-color: white;
}

.fverde {
    background-color: green;
}